<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">
	
	<gazebo>
        <plugin name="gz_ros2_control::GazeboSimROS2ControlPlugin" filename="libgz_ros2_control-system.so">
      		<parameters>$(find rover)/config/controller_position.yaml</parameters>
    	</plugin>
  	</gazebo>
	
</robot>
